<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/Dchat" binding="basicHttpBinding"
                bindingConfiguration="" contract="DchatServer.DchatInterface.IChatService"
                name="DchatEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>
